.job-grid-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      margin: 1rem 0;
    text-decoration: none;
}

.custom-dark-mode {
    background-color: black;
    color: white;
}

.custom-light-mode {
    background-color: white;
    color: black;
}

.jobLink{
    text-decoration: none;
}

.container-button{
    display: flex;
    justify-content: space-between;
}
