.card-container{
    height: 100%;
}

.jobLink {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: purple;
}

.container-button {
    display: flex;
    justify-content: space-between;
}